.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

@each $key, $value in $colors {
  .bg-#{$key}{
    background-color: $value;
  }
  
  .text-#{$key}{
    color: $value;
  }
}

.text-center{
  text-align: center;
}

.mb-21{
  margin-bottom: 21px;
}

.mt-21{
  margin-top: 21px;
}

.none{
  display: none;
}